<li class="list-group-item">
  <%= contact.name %>:
  <div class = "card-nav contact_admin">
    <%= link_to edit_client_contact_path(@client, contact), class: 'btn btn-secondary btn-sm' do %>
      <i class='fas fa-edit'></i> Edit
    <% end %>
    <%= button_to client_contact_path(@client, contact), 
      method: :delete, 
      form:{ 
        data: { turbo_confirm: "Are you sure you want to delete the contact: #{contact.name}?"  }
      },
      class: 'btn btn-secondary btn-sm' do
    %>
      <i class='fas fa-trash'></i> Delete
    <% end %>
  </div>
</li>
