<li class="list-group-item">
  <%= web_property.name %>:
  <%= link_to web_property.url, web_property.url %>
  <div class = "card-nav web-properties_admin">
    <%= link_to edit_client_web_property_path(web_property.client, web_property), class: 'btn btn-secondary btn-sm' do %>
      <i class='fas fa-edit'></i> Edit
    <% end %>
    <%= button_to client_web_property_path(web_property.client, web_property), 
      method: :delete, 
      form:{ 
        data: { turbo_confirm: "Are you sure you want to delete the property: #{web_property.name}?"  }
      },
      class: 'btn btn-secondary btn-sm' do
    %>
      <i class='fas fa-trash'></i> Delete
    <% end %>
  </div>
</li>
