<div class="card-header">
  <h1>Clients</h1>
  <div class="card-nav">
    <%= link_to new_client_path, :class => "btn btn-secondary" do  %>
      <span class="fas fa-plus"></span> Create a New Client
    <% end %> 
  </div>
</div>

<ul id="clients" class="list-group">
  <% @clients.each do |client| %>
    <li class="list-group-item">
      <%= link_to client.name, client %>
    </li>
  <% end %>
</ul>

