<div class="card-header d-flex justify-content-between">
  <h1>Clients</h1>
  <%= link_to "New client", new_client_path %>
</div>

<ul id="clients" class="list-group">
  <% @clients.each do |client| %>
    <li class="list-group-item">
      <%= link_to client.name, client %>
    </li>
  <% end %>
</ul>

