<div class="card-header">
  <h1>New client</h1>
  <div class="card-nav">
    <%= link_to clients_path, :class => "btn btn-secondary" do  %>
      <span class="fas fa-arrow-left"></span> Back to Clients
    <% end %> 
  </div>
</div>

<div class="card-body">
  <%= render "form", client: @client %>
</div>
