.card-nav {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  justify-content: space-around;
}
.card-footer {
  position: relative;
}
.card-footer {
  min-height: 4.4rem;
}
.card-nav .btn { 
  margin-left: .5rem;
}

