<div id="<%= dom_id web_property %>">
  <p>
    <strong>Name:</strong>
    <%= web_property.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= web_property.url %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= web_property.client_id %>
  </p>

</div>
