<h1>Editing web property</h1>

<%= render "form", web_property: @web_property %>

<br>

<div>
  <%= link_to "Show this web property", @web_property %> |
  <%= link_to "Back to web properties", web_properties_path %>
</div>
