<div class="card-header d-flex justify-content-between">
  <h1>Web properties for <% @client.name %></h1>
</div>

<ul id="web_properties" class="list-group">
  <% @web_properties.each do |web_property| %>
    <li class="list-group-item">
      <%= link_to web_property.name, web_property.url %>
    </li>
  <% end %>
</div>
