<div class="card-header d-flex justify-content-between">
  <h1>New web property</h1>
  <%= link_to "Back to #{@client.name}", @client %>
</div>

<div class="card-body">
  <%= render "form", web_property: @web_property %>
</div>
